@import "./theme/fonts/fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

@media screen and (max-width: 640px) {
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
